.Dropzone {
  width: 100%;
  height: 20%;
  border: 2px dashed #6d1b7b;
  margin-bottom: 20px;
}

.Dropzone-upload-area {
  padding: 10px;
  text-align: center;
}

.ImageContainer {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  max-height: 515px;
  overflow: auto;
  grid-column-gap: 0.5em;
  grid-row-gap: 1.5em;
  margin-bottom: 15px;
}

.Grid {
  display: inline-grid;
}

/* stack card css */

.stack {
  perspective: 1000px;
  perspective-origin: 50% -50%;
  margin: 0 auto;
  position: relative;
  z-index: 104 !important;
  width: 320px;
  height: 320px;
  padding: 0;
  list-style: none;
  pointer-events: none;
  width: 225px !important;
  height: 268px !important;
  padding-top: 30px !important;
}
.stack-item {
  background: #fff;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  position: absolute;
  opacity: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: auto;
}
.stack-item img {
  width: 225px;
  height: 140px;
}
.stack-card-note {
  display: inline-grid;
  padding: 22px;
}
.stack-container .stack li:nth-child(1) {
  opacity: 1;
  pointer-events: auto;
  z-index: 4;
  transform: translate3d(0px, 0px, 0px);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12)
  /* animation: scaleCard 100ms; */
}
.stack-container .stack li:nth-child(2) {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
  transform: translate3d(0px, 0px, -50px);
}
.stack-container .stack li:nth-child(3) {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
  transform: translate3d(0px, 0px, -100px);
}
.stack-container .stack li:nth-child(4) {
  transform: translate3d(0px, 0px, -150px);
}
.stack-container .stack li:nth-child(5) {
  transform: translate3d(0px, 0px, -150px);
}